.chat-message {
  padding: 3px 0px 3px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}


ul.chat-message-list {
    height: 81%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}


span#message-author {
    font-weight: bold;
}

p#message-text {
    padding-top: 2px;
}

#add-giphy-to-chat {
  width: 44px;
  height: 42px;
  background-color: #fff;
  border-radius: 6px 0px 0px 6px;
  border: 2px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #717274;
  -webkit-transition: color .05s, background-color .05s, border-color .05s;
  transition: color .05s, background-color .05s, border-color .05s;
  cursor: pointer;
}

#message-avatar {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  min-height: 38px;
  min-width: 38px;
}

#new-message-input{
  border: 2px solid #E0E0E0;
  border-left: none;
  color: #3D3C40;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 81%;
  width: 100%;
  margin-top: 11px;
}

#new-message-giphy{
  width: 44px;
  height: 100%;
  background-color: #fff;
  border-radius: 6px 0px 0px 6px;
  /* border: 2px solid #E0E0E0; */
  border-right: 2px solid #E0E0E0;
  border-left: 2px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #717274;
  -webkit-transition: color .05s, background-color .05s, border-color .05s;
  transition: color .05s, background-color .05s, border-color .05s;
  cursor: pointer;
}

#emoji-toggle{
  cursor: pointer;
  font-size: 20px;
  color: #717274;
  -webkit-transition: font-size .05s;
  transition: font-size .05s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40px;
}

.message-buttons{
  width: 99px;
  height: 31px;
  border-radius: 7px;
  border: 1px solid #E0E0E0;
  background-color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #555459;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

#message-button{
  font-size: 17px;
  width: 33px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-items: center; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  vertical-align: center;
}

#message-button:nth-of-type(2){
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}


.chat-message:hover{
  background-color: #F9F9F9;
}
