.chat-message {
  padding: 3px 0px 3px 7px;
  display: flex;
  flex-grow: 1;
}


ul.chat-message-list {
    height: 81%;
    overflow: hidden;
    overflow-y: scroll; -webkit-overflow-scrolling: touch;
}


span#message-author {
    font-weight: bold;
}

p#message-text {
    padding-top: 2px;
}
