#detail-view {
  /* max-height: 100%; */
  /* margin-top: 1%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 364px;
  max-width: 380px;
  /* border-left: 1px solid #E8E8E8; */
  /* z-index: 1; */
  padding-top: 0px;
  /* position: absolute; */
  height: 80%;
  overflow: hidden;
  overflow-y: hidden;
  flex: 1;
}

#detail-view-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 800;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding-left: 12px; */
  background-color: #F7F7F7;
  height: 72px;
  /* margin-top: 71px; */
  color: #2C2D30;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 362px;
  /* border-bottom: 2px solid #E8E8E8; */
}


#detail-user-list{

  padding-left: 13px;
  margin: 0;
  color: #555459;
  font-weight: 300;
  overflow: scroll;
  overflow:hidden;
  overflow-y: scroll;
}


#detail-user-count-header {
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  color: #555459;
  cursor: pointer;
}

#detail-user-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: 100%;
  border-left: 1px solid #E8E8E8;
}
#details-user-list-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  display: flex;
  justify-items: center;
  z-index: 1;
}

li#details-user-list-item {}
#detail-view-username{
  margin-left: 10px;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
}

#detail-fa {
  margin-right: 6px;
  color: #8BCD99;
  margin-left: 5px;
}

#detail-view-exit{
  cursor: pointer;
}

#detail-view-header{
  width: 100%;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
}

#chat-list-and-detail-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column; */
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#detail-view-exit{
  margin-right: 10px;
}

#about-header {
  margin-left: 10px;
}

#about-team-header{
  font-family: Lato, sans-serif;
  margin-left: 15px;
}


#detail-user-count-header{
  height: auto;
}
