#gif-message{
  margin-left: 10px;
  border-radius: 3px;
  max-height: 200px;
  max-width: 249px;
}

#left-gif-bar{
  width: 4px;
  background-color: #E8E8E8;
  height: 200px;
}


#gif-container{
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


#giphys-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 260px;
}

#giphys-list{
  list-style: none;
  padding-left: 0px;
  max-height: 80%;
  margin: 0px;
}

#giphy-form{
  width: 312px;
  height: 300px;
  left: 22px;
  bottom: 70px;
  /*background-color: #000;*/
  background-color: white;
  position: absolute;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #9933FF;
}

#giphy-image{
  height: auto;
  width: 96px;
  margin: 2px 4px;
  padding: 0px;
  cursor: pointer;
}

#search-giphy-box{
  /* border-radius: 4px; */
  border: 1px solid lightgray;
  outline: none;
  color: #3D3C40;
  height: 20px;
  margin: 0 auto;
  width: 306px;
  text-align: center;
}
