.left-nav {
  position: relative;
  min-width: 220px;
  width: 220px;
  position: relative;
  background-color: #4D394B;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#company-header {
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 79px;
  min-height: 79px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #4D394B;
  letter-spacing: 1px;
}


#company-header:hover {
  background-color: #3e313c;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#company-header > h2 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 8px;
  margin-top: 14px;
}

#online-marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
  background-color: #4c9689;
  margin-top: 2px;
  vertical-align: -webkit-baseline-middle;
}

#current-user-name {
  font-size: 13px;
  font-weight: 300;
  color: white;
}

#left-nav-username-display {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -8px;
  margin-left: 10px;
  height: 0px;
}

.fa-bars {
  margin-right: 5px;
  font-size: 30px;
}

#fa-bars-menu{
  font-size: 23px;
  position: relative;
  margin-top: 10px;
  margin-right: 12px;
}

.fa-bars-dropdown{
  display: none;
  width: 270px;
  height: 130px;
  position: absolute;
  top: 54px;
  left: 12px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fa-bars-menu>button:first-child, #fa-bars-menu>ul:first-child, #fa-bars-menu> li:first-child {
  position: absolute;
}
#fa-bars-menu>ul:first-child{
  z-index: 1;
}


ul.fa-bars-dropdown > li, ul.fa-bars-dropdown > li > button{
  position: absolute;
}

#fa-bars-dropdown:click{
  display: block;
}

#fa-bars-menu >

.hidden {
  display: none;
}

.logout-box {
  width: 100px;
  height: 130px;
  position: absolute;
  top: 20px;
  left: -50px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
}

#logout-box-username {
  margin-bottom: 3px;
  font-family: Lato, sans-serif;
  color: #555459;
  font-weight: 900;
  font-size: 18px;
  font-family:  Lato, sans-serif;
  margin-bottom: 9px;
  margin-top: -38px;
  margin-left: 13px;
  color: #555459;
  font-weight: 900;
  font-size: 19px;
}

#logout-box-handle {
  color: #A0A0A2;
  font-size: 15px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  margin-left: 15px;
  margin-top: -4px;
}

#logout-box-user-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 22px;
  padding-left: 22px;
  border-bottom: 1px solid #E0E0E0;
  width: 205px;
  height: 40px;
  margin-right: 29px;
  right: -9px;
}

#fa-bars-menu li:first-child {
  right: -148px;
  top: 17px;
  left: 17px;
}
#fa-bars-menu button:first-child:hover {
  background-color: #4c9689;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#logout-box-logout-btn{
  border-radius: 5px;
  font-size: 15px;
  margin-left: 96px;
  padding: 3px 8px;
  margin: 9px 14px;
  cursor: pointer;
  font-family: Lato, sans-serif;
  margin-left: 20px;
  margin-right: 39px;
  width: 192px;
  text-align: left;
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 8px;
  /* font-weight: 100; */
  margin: 10px 15px;
  cursor: pointer;
}
#logout-box-logout-btn:hover {
    background-color: #4c9689;
    color: #fff;
    /* margin-left: -12px; */
    font-size: 15px;
    padding: 3px 8px;
    font-weight: 300;
    margin: 10px 15px;
    cursor: pointer;
}

#left-nav-channel-list {
    max-height: calc(100% - 81px);
    margin-top: 10px;
    margin-left: 5px;
    /* overflow: scroll; */
    -webkit-overflow-scrolling: touch;
    /* overflow-y: scroll; */
    -webkit-overflow-scrolling: touch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* overflow-y: scroll; */
    overflow-y: hidden;
}


#left-nav-channel-list > li {
    margin: 5px 0;
    margin-left: 5px;
    max-height: calc(100% - 81px);
    margin-top: 3px;
    /* overflow: scroll; */
    -webkit-overflow-scrolling: touch;
    /* overflow-y: scroll; */
    -webkit-overflow-scrolling: touch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: inline-block;
    width: 91%;
    height: 20px;
    padding: 2px 0;
}

#left-nav-channel-list > li:hover {
  background-color: #3E313C;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;

}

.left-nav-channel-name {
  font-size: 12px;
  font-weight: 500;
  color: #AB9BA9;
}

#left-nav-channel-list > h2 {
  color: #AB9BA9;
  font-size: 12px;
  margin-left: 7px;
  margin-bottom: 7px;
}

#left-nav-channel-list  h5 {
  color: #AB9BA9;
  font-weight: 500;
  margin-left: 10px;
  font-size: 20px;
  text-overflow: ellipsis;
  font-size:15px;
  white-space: nowrap;
  width: 159px;
  color: #AB9BA9;
  font-weight: 500;
  margin-left: 10px;
  font-size: 20px;
  text-overflow: ellipsis;
  font-size: 15px;
  overflow: hidden;
  /* width: 31%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#left-nav-channel-list span:first-child {
  color: #7C6A7A;
  padding-left: 2px;
}

#user-dropdown-logo{
  margin-right: 5px;
  border-radius: 4px;
}

.selected-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.selected-users > li {
  background-color: #25a67e;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 300;
  padding: 8px 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: #4C9689;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

#exit-logout-dropdown {
  color: #555459;
  margin-right: 10px;
  cursor: pointer;
}

.channel-show-link {
  text-decoration: none;
  color: #4D394B;
  background-color: #4D394B;
  border-color: #4D394B;
  -webkit-text-decoration-color: #4D394B;
          text-decoration-color: #4D394B;
}


#logout-box-user-display > img {
    -ms-flex-item-align: left;
        align-self: left;
    min-height: 42px;
    min-width: 42px;
    margin-right: 4px;
}


#logout-box-user-details {
  margin-left: 90px;
  margin-bottom: -1px;
  display: block;
}


#left-nav-dm-list {
    max-height: calc(100% - 81px);
    margin-top: 10px;
    margin-left: 5px;
    overflow: scroll-webkit;
    -overflow-scrolling: touch;
    /* overflow-y: scroll; */
    -webkit-overflow-scrolling: touch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-y: auto;
    /* overflow-y: scroll */
    overflow: hidden;
}

#left-nav-dm-list > li {
    margin: 5px 0;
    margin-left: 5px;
    max-height: calc(100% - 81px);
    margin-top: 3px;
    /* overflow: scroll; */
    -webkit-overflow-scrolling: touch;
    /* overflow-y: scroll; */
    -webkit-overflow-scrolling: touch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: inline-block;
    width: 91%;
    height: 20px;
    padding: 2px 0;
}

#left-nav-dm-list > li:hover {
  background-color: #3E313C;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

#left-nav-dm-list > h2 {
  color: #AB9BA9;
  font-size: 12px;
  margin-left: 7px;
  margin-bottom: 7px;
}

#left-nav-dm-list  h5 {
  color: #AB9BA9;
  font-weight: 500;
  margin-left: 10px;
  font-size: 20px;
  text-overflow: ellipsis;
  font-size:15px;
  overflow: hidden;
  /* width: 31%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#left-nav-dm-list span:first-child {
  color: #7C6A7A;
  padding-left: 2px;
}

#left-nav-dm-list > h2 > i {
  margin-left: 73px;
}


#channel-list-item{
  /* white-space: nowrap; */
  overflow-x: ellipsis;
}

#about-logo{
  width: 28px;
  height: 28px;
}

#about-me-section{
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid gray;
  background-color: #4D394B;
  position: fixed;
  bottom: 0px;
  width: 220px;
  color: white;
  padding: 15px 15px 0px 15px;
  font-weight: 300;
  max-height: 160px;
}


p#about-me-intro {
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
}

#about-header{
  color: white;
  margin: 0px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 3px;
}

#about-me-links{
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}


.about-me-link{
  color: #cdcdcd;
  text-decoration: none;
  margin-bottom: 5px;
}

.about-me-link:hover{
  color: white;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#about-me-description-container{
  margin-bottom: 10px;
  font-size: 14px;
}

#about-header-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
  height: auto;
}


aside#about-me-credits {
    font-size: 12px;
    margin-bottom: 6px;
  }
#notification-count{
  background-color: #EB4D5C;
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  /* margin-left: 109px; */
  /* margin-right: 4px; */
  padding-left: 9px;
  text-align: center;
  padding-right: 11px;
  display: inline-block;
  width: 9px;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  color: #fff;
  background: #eb4d5c;
  border-radius: 53px;
  vertical-align: baseline;
  font-size: 0.8rem;
  /* width: 7px; */
  height: 15px;
}


i#email-fa {}

i#email-fa {}

#email-fa {
    margin-right: 4px;
}

i#github-fa {
    margin-right: 4px;
}

#logout-box{
  width: 232px;
}


ul#logout-dropdown {}

#channel-name-and-notification{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
