.left-nav {
  position: relative;
  min-width: 220px;
  width: 220px;
  position: relative;
  background-color: #4D394B;
  transition: all 0.3s ease 0s;
}

.left-nav:hover {
  position: relative;
  min-width: 220px;
  width: 220px;
  position: relative;
}

#company-header {
  cursor: pointer;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  justify-content: space-between;
  border: 1px solid #4D394B;
  letter-spacing: 1px;
}


#company-header:hover {
  background-color: #3e313c;
  transition: all 0.3s ease 0s;
  height: 79px;
}

#company-header > h2 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 8px;
  margin-top: 14px;
}

#online-marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
  background-color: #4c9689;
  margin-top: 2px;
  vertical-align: -webkit-baseline-middle;
}

#current-user-name {
  font-size: 13px;
  font-weight: 300;
  color: white;
}

#left-nav-username-display {
  margin-top: 0px;
  display: flex;
  margin-top: 14px;
  margin-left: 10px;
}

.fa-bars {
  margin-right: 5px;
  font-size: 30px;
}

#fa-bars-menu{
  font-size: 23px;
  position: relative;
  margin-top: 10px;
  margin-right: 12px;
}

.fa-bars-dropdown{
  display: none;
  width: 270px;
  height: 130px;
  position: absolute;
  top: 54px;
  left: 12px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
}

#fa-bars-menu>button:first-child, ul:first-child, li:first-child {
  position: absolute;
}

ul.fa-bars-dropdown > li, ul.fa-bars-dropdown > li > button{
  position: absolute;
}

#fa-bars-dropdown:click{
  display: block;
}

.hidden {
  display: none;
}

.logout-box {
  width: 10000px;
  height: 130px;
  position: absolute;
  top: 20px;
  left: -50px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  color: black;
}

#logout-box-username {
  :
  margin-bottom: 3px
  font-family: Lato, sans-serif;
  color: #555459;
  font-weight: 900;
  font-size: 18px;
  font-family:  Lato, sans-serif;
}

#logout-box-handle {
  color: #A0A0A2;
  font-size: 15px;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

#logout-box-user-display {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 22px;
  padding-left: 22px;
  border-bottom: 1px solid #E0E0E0;
  width: 180px;
  height: 40px;
  margin-right: 29px;
  right: -9px;
}

#fa-bars-menu li:first-child {
  right: -139px;
  top: 17px;
}
#fa-bars-menu button:first-child:hover {
  background-color: #4c9689;
  color: white;
  transition: all 0.3s ease 0s;
}

#logout-box-logout-btn{
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 8px;
  margin: 10px 15px;
  cursor: pointer;
  font-family: Lato, sans-serif;
}
#logout-box-logout-btn:hover {
    background-color: #4c9689;
    color: #fff;
}
