.overall-home-view {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

#main-team-header {
  /* min-height: 62px; */
  border-bottom: 1px solid #E8E8E8;
  /* display: flex; */
  background-color: #fff;
  font-weight: 800;
  color: #2C2D30;
  width: 100%;
  font-size: 18px;
  display: inline-block;
  height: 7vh;
  box-sizing: border-box;
  padding-top: 1vh;
  /* padding-bottom: 1vh; */
  /* padding-bottom: 1%; */
}

#main-view-container{
  width: 100%;
  height: 100vh;
}

#channel-count-of-users {
  font-size: 10px;
  padding-right: 5px;
  padding-bottom: 1px;
  font-weight: normal;
}

div#main-header-content {
    display: inline-block;
    height: 100%;
    /* margin-top: 1.5%; */
    margin-left: 2.0%;
    font-size: 18px;
    font-weight: bold;
    /* margin-bottom: 1%; */
  }

.message-content{
  margin-left: 10px;
}

.all-message-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 0px 3px 7px;
}
#message-time{
  font-weight: 300;
  color: #9e9ea6;
  font-size: 12px;
  vertical-align: bottom;
  display: inline;
  margin-left: 8px;
  margin-top: 1px;
  line-height: 19px;
}

.all-messages-container{
  height: 92vh;
}

.new-message-input {
  display: inline-block;
  width: 95%;
  height:100%;
  border-radius: 6px;
  width: calc(100% - 220px);
  height: 64px;
  background-color: white;
  margin: 0 auto 5px auto;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border-radius: 95px; */
}
#new-message-footer{
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  width: calc(100% - 250px);
  height: 64px;
  background-color: white;
  margin: 0 auto 0px auto;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  border-radius: 6px;
  margin-left: 9px;
  /* margin-bottom: 10px; */
  height: 5vh;
  margin-bottom: 1vh;
}
#message-content-input{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  /*border2px solid #E0E0E0:;*/
  border-width: 1px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 300;
  /* border-top: 2px; */
  /* border-left: 2px; */
  /* border-right: 2px; */
  /*border2px solid lightgray:;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 2px solid lightgray; */
  /* height: 5vh; */
  box-sizing: border-box;
}

#alert-container{
  width: 10px;
}

.message-buttons{
}

.chat-message:hover  .message-buttons{
  visibility: visible;
}

#detail-view-toggle{
  cursor: pointer;
}

/*.visible {
  visibility: visible;
}*/

.invisible {
  visibility: hidden;
}
