#new-channel-button {
  background-color: #2ab27b;
  border: none;
  width: 73px;
  height: 45px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  font-family: Lato, sans-serif;
  color: #fff;
  margin-left: 16px;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
  margin-bottom: 12px;
}

#new-channel-window h1 {
  align-items: left;
  font-weight: 800;
  font-size: 34px;
  margin-bottom: 30px;
  color: #2C2D30;
}


.new-channel-input {
  display: flex;
  padding: 8px 12px 12px 12px;
  flex-wrap: wrap;
  border: 1px solid #E0E0E0;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
}

#new-channel-title{
  color: #3D3C40;
  font-size: 20px;
  font-weight: 300;
  margin-top: 4px;
  display: flex;
  flex-grow: 1;
}


#left-nav-channel-list i {
  margin-left: 100px;
}

.create-channel-error {
  margin-top: 20px;
}

#new-channel-add-users-input{
  color: #3D3C40;
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
  display: flex;
  flex-grow: 1;
  margin-bottom: 7px;
}


.new-channel-user-list-item {
  border-top: 1px solid #E0E0E0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  cursor: pointer;
  color: #555459;
}


#new-channel-form-list{
  width: 100%;
  nav ul{height: 200px;
  width:18%;}
  nav ul{overflow:hidden;
  overflow-y:scroll;}
  overflow: hidden;
  overflow: hidden;
  overflow-y:scroll;
  height: 500px;
}

li.new-channel-user-list-item:hover {
    background-color: #edf7fd;
    border-radius: 6px;
    border: 1px solid #d3ecfa;
}

#exit-new-channel {
    position: absolute;
    right: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    color: #717274;
    display: flex;
    align-items: center;
    text-align: center;
  }

  #exit-new-channel:hover{
    background-color: #E8E8E8;
  }

  #new-channel-window {
    max-height: 91%;
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
  }

  .channel-form {
    width: 45%;
  }

  #wrap-username-and-button {
    display: flex;
    align-items: center;
  }

  .fa-3x {
    font-size: 3em;
    margin: 0 auto;
  }

  #selected-user-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  #wrap-username-and-button{
    position: relative;
  }

  .selected-user{
    display: flex;
    font-weight: 300;
    padding: 8px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #4C9689;
    color: white;
    border-radius: 5px;
    width: 176px;
    transition: all 0.3s ease 0s;
    align-items: center;
    justify-content: space-between;
  }
  #delete-selected-user {
    cursor: pointer;
    font-size: 19px;
    align-self: flex-start;
    margin-left: 10px;
    /* align-self: flex-start; */
    margin-right: -3px;
  }

  .errors > ul > li:first-of-type {
    margin-bottom: -17px;
    /* height: 13px; */
    align-self: center;
    display: inline-block;
  }


.selected-user > img {
    margin-right: 7px;
}
