html, body, main, main div:first-of-type {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: relative;
}

html {
  overflow: hidden;

}


body {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
.session-form {
   font-family: Lato, sans-serif;
   /* margin: auto; */
   vertical-align: middle;
   /* position: absolute; */
   top: 25%;
   left: auto;
   right: auto;
   bottom: 36%;
   background: rgb(255, 255, 255);
   border-radius: 8px;
   opacity: 1;
   z-index: 1;
   /*display: flex;*/
   /* margin-bottom: auto; */
   /*flex-direction: column;*/
   /*text-align: center;*/
   /*align-items: center;*/
   border: 1px solid black;
   min-width: 625px;
   min-height: 415px;
   font-size: 20px;
   /* margin-top: 8%; */
   /* margin-bottom: 22%; */
   /* margin-top: 20%; */
   /* margin-bottom: auto; */
   position: absolute;
   top: 50%;
   bottom: 50%;
   /* width: 500px; */
   /* height:500px; */
   margin:0 auto;
   /* background:#f7f7f7; */
   position:absolute;
   left: 45%;
   top:50%;
   margin-left:-250px;
   margin-top:-250px;
}
.session-form > h1 {
  font-size: 32px;
  margin: 32px 0px 10px 0px;
  margin-top: 32px;
  color: #555459;
  font-weight: 400;
}
.session-form > h1, .session-form > p {
  text-align: center;
}

.session-form > p {
  text-align: center;
  fonts-size: 20px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: #555459;
  margin-bottom: 20px;
  margin-top:20px;
}
.session-form > button {
  background-color: #2ab27b;
  border-radius: 4px;

}

.login-input {
  border: 1px solid #E0E0E0;
  color: #3D3C40;
  border-radius: 6px;
  height: 50px;
  width: 75%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
  padding-left: 10px;
  outline-width: 0;
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
  margin: 5px auto;
}

#login-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#background-video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 webkit-transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
 z-index: -100;
}

.login-button {
  width: 75%;
  height: 50px;
  background-color: #2ab27b;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  font-family: Lato, sans-serif;
  color: #fff;
  cursor: pointer;
  outline-width: 0;
  display: block;
  margin: 5px auto;
}

.errors {
  color: #CB5234;
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.errors > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.errors > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  padding: 0 10px 0 10px;
}

#demo-login {
  font-size: 15px;
  margin-top: 15px;
}

.landing-page-nav {
  opacity: 0.8;
  z-index: 10;
  height: 70px;
  width: 100%;
  background-color: rgba(255,255,255,1);
  opacity: 0.98;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#session-control-container > button {
  background-color: #2ab27b;
  border: 3px solid #2ab27b;
  border-radius: 7px;
  height: 45px;
  width: 75px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
  padding: 0px;
  height: px;
  color: white;
}

#session-control-container> button:last-of-type {
  margin-right: 20px;
}


#splat-logo{
  height: 50px;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  margin-left: 15px;
}
#session-control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#landing-page-logo-link {
  color: #2ab27b;
  text-decoration: none;
  margin-left: 10px;
  margin-top: -1px;
  font-size: 40px;
  -ms-flex-item-align: center;
      align-self: center;
}


li#db-error-splash {
    margin-top: 13px;
    display: inline-block;
}


i#splash-page-error-fa {
    margin-top: 13px;
    margin-right: -16px;
}

#tagline {
  display: inline-block;
  margin: 0 auto;
  color: white;
  /* position: absolute; */
}

#tagline {
  font-size: 15px;
  /* align-self: center; */
  margin-left: 11px;
  vertical-align: center;
  justify-self: flex-end;
  margin-top: 28px;
  color: #2ab27b;
}
